<nav class="navbar">
    <a href="/" class="btnn btn-info" style="margin-top:5px;">Logout</a>
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Result Management System</a>     
      </div>
  </nav>